@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-weight: 500;
}

input {
    border: none;
    text-align: center;
    color: #fff;
}

input:focus {
    outline: none;
}

button {
    font-family: inherit;
}

body {
    font-family: "Roboto Condensed", serif;
    display: flex;
    align-items: center;
    flex-direction: column;
    min-height: 100dvh;
    background: linear-gradient(194deg, #ca7b15, #cc2b4e, #17bfd8, #f4b441);
    background-size: 240% 240%;
    animation: gradient-animation 36s ease infinite;
}

@keyframes gradient-animation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.title {
    color: #fff;
    padding: 50px;
}

.container {
    position: relative;
    width: 300px;
    aspect-ratio: 1/1;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px;
}

.container .spin-btn {
    position: absolute;
    width: 60px;
    aspect-ratio: 1/1;
    background: #fff;
    border-radius: 50%;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    font-weight: 600;
    color: #000;
    letter-spacing: 0.1em;
    border: 4px solid #000;
    cursor: pointer;
    user-select: none;
}

.container .spin-btn::before {
    content: "";
    position: absolute;
    right: -80%;
    z-index: -1;
    width: 60px;
    height: 72px;
    background: #fff;
    clip-path: polygon(0 15%, 0 85%, 100% 50%);
}

.container .wheel {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: #d12121;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 0 0 0 10px #fff;
    transition: transform 5s;
    transition-timing-function: cubic-bezier(0.25, 0.1, 0.1, 1);
}

.container .wheel .cell {
    position: absolute;
    width: 50%;
    aspect-ratio: 1/1;
    background: var(--clr);
    transform-origin: bottom right;
    transform: rotate(calc(36deg * var(--i)));
    clip-path: polygon(0 0, 50% 0, 100% 100%, 0 50%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.container .wheel .cell input {
    transform: rotate(-135deg);
    font-size: 16px;
    background-color: transparent;
    -webkit-user-select: none;
    user-select: none;
}

.input {
    width: calc(100% - 20px);
    margin: 5px;
    padding: 10px;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.25);
    font-size: 16px;
}

.input:focus {
    background-color: rgba(255, 255, 255, 0.5);
}

::placeholder {
    color: #fff;
    opacity: 0.5;
}

.change-clr-btn {
    position: relative;
    color: #fff;
    background: #000;
    border: none;
    border-radius: 5px;
    padding: 15px 30px;
    cursor: pointer;
    margin: 50px;
    transition: filter 200ms;
}

@property --deg {
    syntax: "<angle>";
    inherits: false;
    initial-value: 0deg;
}

.change-clr-btn::after,
.change-clr-btn::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: conic-gradient(from var(--deg), red, blue, red);
    width: 100%;
    border-radius: 5px;
    height: 100%;
    padding: 1px;
    z-index: -1;
    transition: all 200ms;
    animation: rotate 5s forwards linear infinite;
}

.change-clr-btn:hover::before {
    padding: 5px;
    filter: blur(5px);
}

@keyframes rotate {
    from {
        --deg: 0deg;
    }

    to {
        --deg: 360deg;
    }
}
